.hero {
  scroll-snap-align: start;
  position: relative;
  height: 750px;
  width: 100vw;
  display: grid;
  place-items: center;
  background-color: $darkblue;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-clip-path: polygon(100% 0%, 0% 0% , 0% 91.00%, 1% 90.98%, 2% 90.92%, 3% 90.82%, 4% 90.68%, 5% 90.51%, 6% 90.30%, 7% 90.06%, 8% 89.79%, 9% 89.49%, 10% 89.16%, 11% 88.81%, 12% 88.45%, 13% 88.07%, 14% 87.68%, 15% 87.28%, 16% 86.88%, 17% 86.48%, 18% 86.09%, 19% 85.71%, 20% 85.34%, 21% 84.98%, 22% 84.65%, 23% 84.33%, 24% 84.05%, 25% 83.80%, 26% 83.57%, 27% 83.38%, 28% 83.23%, 29% 83.12%, 30% 83.04%, 31% 83.00%, 32% 83.01%, 33% 83.05%, 34% 83.13%, 35% 83.25%, 36% 83.41%, 37% 83.61%, 38% 83.84%, 39% 84.10%, 40% 84.39%, 41% 84.70%, 42% 85.04%, 43% 85.40%, 44% 85.77%, 45% 86.16%, 46% 86.55%, 47% 86.95%, 48% 87.35%, 49% 87.75%, 50% 88.13%, 51% 88.51%, 52% 88.87%, 53% 89.22%, 54% 89.54%, 55% 89.83%, 56% 90.10%, 57% 90.34%, 58% 90.54%, 59% 90.71%, 60% 90.84%, 61% 90.93%, 62% 90.99%, 63% 91.00%, 64% 90.97%, 65% 90.91%, 66% 90.80%, 67% 90.66%, 68% 90.48%, 69% 90.26%, 70% 90.02%, 71% 89.74%, 72% 89.43%, 73% 89.10%, 74% 88.75%, 75% 88.39%, 76% 88.01%, 77% 87.61%, 78% 87.22%, 79% 86.82%, 80% 86.42%, 81% 86.03%, 82% 85.64%, 83% 85.27%, 84% 84.92%, 85% 84.59%, 86% 84.29%, 87% 84.01%, 88% 83.76%, 89% 83.54%, 90% 83.36%, 91% 83.21%, 92% 83.10%, 93% 83.03%, 94% 83.00%, 95% 83.01%, 96% 83.06%, 97% 83.15%, 98% 83.28%, 99% 83.44%, 100% 83.64%);
          clip-path: polygon(100% 0%, 0% 0% , 0% 91.00%, 1% 90.98%, 2% 90.92%, 3% 90.82%, 4% 90.68%, 5% 90.51%, 6% 90.30%, 7% 90.06%, 8% 89.79%, 9% 89.49%, 10% 89.16%, 11% 88.81%, 12% 88.45%, 13% 88.07%, 14% 87.68%, 15% 87.28%, 16% 86.88%, 17% 86.48%, 18% 86.09%, 19% 85.71%, 20% 85.34%, 21% 84.98%, 22% 84.65%, 23% 84.33%, 24% 84.05%, 25% 83.80%, 26% 83.57%, 27% 83.38%, 28% 83.23%, 29% 83.12%, 30% 83.04%, 31% 83.00%, 32% 83.01%, 33% 83.05%, 34% 83.13%, 35% 83.25%, 36% 83.41%, 37% 83.61%, 38% 83.84%, 39% 84.10%, 40% 84.39%, 41% 84.70%, 42% 85.04%, 43% 85.40%, 44% 85.77%, 45% 86.16%, 46% 86.55%, 47% 86.95%, 48% 87.35%, 49% 87.75%, 50% 88.13%, 51% 88.51%, 52% 88.87%, 53% 89.22%, 54% 89.54%, 55% 89.83%, 56% 90.10%, 57% 90.34%, 58% 90.54%, 59% 90.71%, 60% 90.84%, 61% 90.93%, 62% 90.99%, 63% 91.00%, 64% 90.97%, 65% 90.91%, 66% 90.80%, 67% 90.66%, 68% 90.48%, 69% 90.26%, 70% 90.02%, 71% 89.74%, 72% 89.43%, 73% 89.10%, 74% 88.75%, 75% 88.39%, 76% 88.01%, 77% 87.61%, 78% 87.22%, 79% 86.82%, 80% 86.42%, 81% 86.03%, 82% 85.64%, 83% 85.27%, 84% 84.92%, 85% 84.59%, 86% 84.29%, 87% 84.01%, 88% 83.76%, 89% 83.54%, 90% 83.36%, 91% 83.21%, 92% 83.10%, 93% 83.03%, 94% 83.00%, 95% 83.01%, 96% 83.06%, 97% 83.15%, 98% 83.28%, 99% 83.44%, 100% 83.64%);

  &__color {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.6;
    background: linear-gradient(90deg, $black 0%, $red 0%, $darkblue 100%);
    background-size: 400% 400%;
    -webkit-animation: hero-background 10s ease infinite;
            animation: hero-background 10s ease infinite;
  }

  &__container {
    width: 100vw;
    grid-column: 1 / -1;
    place-self: center start;
    margin: -5% 0 0 -1%;
    height: 400px;
    z-index: 2;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    &__logo {
      height: 150%;
      width: 150%;
      font-size: 10px;
      font-weight: 100;
      stroke: $white;
      stroke-dasharray: 250;
      stroke-dashoffset: 0;
      stroke-width: 0.2;
      fill: transparent;
      -webkit-animation: line 12s, llenar-blanco 2s ease forwards 2s;
              animation: line 12s, llenar-blanco 2s ease forwards 2s;
      z-index: 2;
      margin: -155px 0 0 0;
  
      &__firstLetters {
        stroke: $skyblue;
        -webkit-animation: line 12s, llenar-celeste 2s ease forwards 2s;
                animation: line 12s, llenar-celeste 2s ease forwards 2s;
      }
    }
  }
}

@media (min-width: 450px) {
  .hero__container__logo {
    margin: -155px 0 0 -2%;
  }
}

@media (min-width: 800px) {
  .hero {
    height: 100vh;
  
    &__container{
    height: 100%;
    width: 100vw;
    margin: -5% 0 0 0;
    z-index: 2;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            grid-column: 1/-1;
    }
  }

  .hero__container__logo {
    font-size: 5px;
    font-weight: 100;
    stroke: $white;
    stroke-dasharray: 250;
    stroke-dashoffset: 0;
    stroke-width: 0.2;
    fill: transparent;
    -webkit-animation: line 12s, llenar-blanco 2s ease forwards 2s;
            animation: line 12s, llenar-blanco 2s ease forwards 2s;
    z-index: 2;
    margin: -18% 0 0 15%;
  }
}

@media (min-width: 1024px) {
  .hero__container__logo {
    margin: -19% 0 0 10%;
  }
}

@media (min-width: 1280px) {
  .hero__container__logo {
    margin: -12% 0 0 10%;
  }
}